@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="row">
    <div class="col-md-6">
        <SurveyPrompt Title="Side 1"/>
    </div>
    
    <div class="col-md-6">
        <SurveyPrompt Title="Side 2" />
    </div>
</div>